<?xml version="1.0" encoding="GBK"?>
<!-- 指定Spring配置文件的Schema信息 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	
  <!-- 定义数据源Bean，使用C3P0数据源实现 -->
	<bean id="dataSource" destroy-method="close"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- 指定连接数据库的驱动 -->
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		
		<!-- 指定连接JD数据库的URL
		<property name="jdbcUrl"
			value="jdbc:mysql://mysql.jae.jd.com:4066/81788090-26199299_my_c19z4r49"/>
		<property name="user" value="m2y2459t"/>
		<property name="password" value="Y987iZ214rgr"/>
		-->
		
		<property name="jdbcUrl"
			value="jdbc:mysql://localhost:3306/auction"/>		
		<property name="user" value="root"/>		
		<property name="password" value="root"/>
		
		<!-- 指定连接数据库连接池的最大连接数 -->
		<property name="maxPoolSize" value="40"/>
		<!-- 指定连接数据库连接池的最小连接数 -->
		<property name="minPoolSize" value="1"/>
		<!-- 指定连接数据库连接池的初始化连接数 -->
		<property name="initialPoolSize" value="1"/>
		<!-- 指定连接数据库连接池的连接的最大空闲时间 -->
		<property name="maxIdleTime" value="20"/>
	</bean>

	<!-- 定义Hibernate的SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 依赖注入数据源，注入上面定义的dataSource -->
		<property name="dataSource" ref="dataSource"/>
		<!-- mappingResouces属性用来列出全部映射文件 -->
		<property name="mappingResources">
			<list>
				<!-- 以下用来列出Hibernate映射文件 -->
				<value>com/train/auction/model/AuctionUser.hbm.xml</value>
				<value>com/train/auction/model/Bid.hbm.xml</value>
				<value>com/train/auction/model/Item.hbm.xml</value>
				<value>com/train/auction/model/Kind.hbm.xml</value>
				<value>com/train/auction/model/State.hbm.xml</value>
			</list>
		</property>
		<!-- 定义Hibernate的SessionFactory的属性 -->
		<property name="hibernateProperties">
			<props>
				<!-- 指定数据库方言 -->
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLInnoDBDialect</prop>
				<!-- 是否根据需要每次自动创建数据库 -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<!-- 显示Hibernate持久化操作所生成的SQL -->
				<prop key="hibernate.show_sql">true</prop>
				<!-- 将SQL脚本进行格式化后再输出 -->
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
	</bean>
	
	
	

	<!-- 定义JavaMailSenderImpl，它用于发送邮件 -->
	<bean id="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<!-- 指定发送邮件的SMTP服务器地址 -->
		<property name="host" value="smtp.163.com"/>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.timeout">25000</prop>
			</props>
		</property>
		<!-- 指定登录邮箱的用户名、密码 -->
		<property name="username" value="spring_test"/>
		<property name="password" value="123abc"/>
	</bean>
	<!-- 定义SimpleMailMessage Bean，它代表了一份邮件 -->
	<bean id="mailMessage"
		class="org.springframework.mail.SimpleMailMessage">
		<property name="from" value="spring_test@163.com"/>
		<!-- 指定邮件标题 -->
		<property name="subject" value="竞价通知"/>
	</bean>

	<!-- 配置业务逻辑组件 -->
	<bean id="mgr"
		class="com.train.auction.service.impl.AuctionManagerImpl">
		<!-- 为业务逻辑组件注入所需的DAO组件 -->
		<property name="userDao" ref="auctionUserDao"/>
		<property name="bidDao" ref="bidDao"/>
		<property name="itemDao" ref="itemDao"/>
		<property name="kindDao" ref="kindDao"/>
		<property name="stateDao" ref="stateDao"/>
		<property name="mailSender" ref="mailSender"/>
		<property name="message" ref="mailMessage"/>
	</bean>
	<!-- 配置一个TimerTask Bean -->
	<bean id="checkWiner" class="com.train.auction.schedule.CheckWiner">
		<!-- 依赖注入业务逻辑组件 -->
		<property name="mgr" ref="mgr"/>
	</bean>

	
	
	<bean id="timerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false">
		<property name="triggers">
			<list>
				<ref local="myTrigger"/>
			</list>
		</property>
	</bean>

	<bean id="myTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail" ref="myJob" />
		<property name="startDelay" value="0" />
		<property name="repeatInterval" value="86400000" />
	</bean>
	
	<bean id="myJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="durability" value="true" />
		<property name="name" value="myJob"/>
		<property name="group" value="myGroup"/>
		<property name="description" value="myJob"/>
		<property name="jobClass" value="com.train.auction.schedule.CheckWinnerJob"/>
		<property name="jobDataAsMap">
			<map>
				<entry key="myTask" value-ref="checkWiner" />
			</map>
		</property>
	</bean>
	
	
	
</beans>